*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Shooting Star';
    /* font-family: "Sunshiney", cursive; */
}

@font-face {
    font-family: 'Shooting Star';
    src: url(./fonte/Shooting\ Star.ttf);
}